.error-box {
  display: flex;
  justify-content: space-between;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;

  &__message > span:first-child {
    font-weight: bold;
    margin-right: 5px;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #721c24;
    padding: 0;
    margin: 0;
  }
}
